:root {
  --primary-light: #faf4ea;
  --primary-green: #819b57;
  --primary-dark: #31261a;
}

body {
  background-color: chocolate;
}

.logo {
  color: var(--primary-light);
}
.nav-link {
  color: var(--primary-light);
}

.nav-link:hover {
  color: var(--primary-green);
}

.nav-link:focus {
  color: var(--primary-green);
}

.button {
background-color: var(--primary-green);
border: var(--primary-green);
color: var(--primary-light);
border-radius: 8px;
width: 238px;
height: 59px;
}

.button:hover, .button:focus{
  background-color: var(--primary-light);
  color: #465929;
  border: 2px var(--primary-green) solid;
}